image: maven:3.5.0-jdk-8
 
cache:
  paths:
    - maven.repository/
 
CodeTest:
  stage: build
  script:
    - mvn clean package


Coverage:
    stage: build
    script:
    - mvn install -B
    - cat target/site/jacoco/index.html
 

Create-And-Save:
  stage: deploy
  script:
    - mvn install
    - mv target/oayt-1.0-SNAPSHOT.jar .
  artifacts:
    paths:
      - ./oayt-1.0-SNAPSHOT.jar