image: maven:3.6.0-jdk-8-alpine

cache:
  paths:
    - maven.repository/
 
CodeTest:
  stage: build
  script:
    - mvn clean package

Create-And-Save:
  stage: deploy
  script:
    - apk add --no-cache curl
    - mvn install
    - mv target/oayt-1.0-SNAPSHOT.jar .
    - echo $CI_COMMIT_REF_NAME
    - sh -c 'if [[ $CI_COMMIT_REF_NAME = "master" ]]; then $cmd; fi'
  artifacts:
    paths:
      - ./oayt-1.0-SNAPSHOT.jar
